<!doctype html>
<html>
<head>
    <title>BTS Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>BTS Fan Site</h1>
        <img src="img/bts.jpg" alt="BTS">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        <p><a href="http://bts.ibighit.com" class="btn btn-default"> Official BTS Site</a></p>
        <div class="">
          <iframe class="movie movie_wrap" id="movie" style="height: 461.25px;" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="820" height="462" src="https://www.youtube.com/embed/M9Uy0opVF3s?enablejsapi=1&amp;origin=http%3A%2F%2Fbts.ibighit.com&amp;widgetid=1"></iframe>
        </div>
    </div>

</div>
</body>
</html>
